html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img {
	width: 100%;
	display: block;
}

div {
	background-color: #2c3950;
	padding: 7em 7em 0em 7em;
	position: relative;
	margin: 0 0 0 0em;
}

h1 {
	font-family: 'Contrail One', cursive;
	background-color: #1a2230;
	margin: 0;
	text-align: center;
	width: 100%;
	font-size: 2.5em;
	color: #fff;
	padding: 0.5em 0.5em 0.5em 0;
}


.body {
	width: 320px;
}


.left {
	width: 125px;
	float: left;
	position: absolute;
	bottom: 3.25em;
	left: 9.18em;
}

.right {
	width: 125px;
	float: right;
	position: absolute;
	bottom: 3.25em;
	right: 11.78em;
}

.brain {
	width: 46px;
	position: absolute;
	bottom: 15em;
	left: 15.5em;
	top: 7.10em;
}


