html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
	position: relative;
	overflow: hidden;
	background-color: #2c3950;
}

img {
	width: 100%;
	display: block;
}

h1 {
	background-color: #1a2230;
	margin: 0;
	position: absolute;
	left: 0;
	bottom: -2em;
	text-align: center;
	width: 100%;
	transition: all 200ms linear;
	font-size: 4em;
}

header:hover h1 {
	bottom: 1em;
}
